@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Container information is stored, but no host information is stored. Consider that some container names may be sensitive or revealing.</p>
